
{% extends 'base.html' %}

{% block content %}

<h1>Groupe : {{ band.name }}</h1>
<ul>
    <li>Genre : {{band.get_genre_display }}</li>
    <li>Année de formation : {{band.year_formed}}</li>
    <li>Actif : {{band.active | yesno}}</li>
    {% if band.official_homepage %}
    <li><a href="{{ band.official_homepage }}">{{ band.official_homepage }}</a></li>
    {% endif %}
</ul>
<p>{{ band.biography }}</p>
<a href="{% url 'band_update' band.id %}">[Modifier]</a><br />
<a href="{% url 'band_delete' band.id %}">[Supprimer]</a><br />
<a href="{% url 'band_list' %}">Retour à la liste des groupes</a>
{% endblock %}