{% extends 'base.html' %}

{% block content %}

<h1>Groupes</h1>
<ul>
    {% for band in bands %}
         <li>
            <a href="{% url 'band_detail' band.id %}">{{ band.name }}</a>
            <a href="{% url 'band_update' band.id %}">[Modifier]</a>
            <a href="{% url 'band_delete' band.id %}">[Supprimer]</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'band_create' %}">Créer un nvo groupe</a>
{% endblock %}