
{% extends 'base.html' %}

{% block content %}

<h1>Suppression du groupe :</h1>
<p>Etes-vous sûr de vouloir supprimer le groupe : {{ band.name }} ?</p>

<form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Supprimer">
</form>

<a href="{% url 'band_list' %}">Retour à la liste des groupes</a>
{% endblock %}