
{% extends 'base.html' %}

{% block content %}

<h1>Création de groupe :</h1>
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Envoyer" />
</form>
{% endblock %}