
{% extends 'base.html' %}

{% block content %}

<h1>Mise à jour du groupe :</h1>
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Envoyer">
</form>
<a href="{% url 'band_list' %}">Retour à la liste des groupes</a>
{% endblock %}