{% extends 'base.html' %}

{% block content %}

<h1>Contact</h1>
<p>Laissez nous un message !</p>

<form action="" method="post" novalidate>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Envoyer" />
</form>

{% endblock %}