{% extends 'base.html' %}

{% block content %}

<h1>Listings ({{ listing | length }})</h1>
<ul>
    {% for listing in listings %}
    <li>
        <a href="{% url 'listing_detail' listing.id %}">{{ listing.title | upper}}</a>
        <a href="{% url 'listing_update' listing.id %}">[Modifier]</a>
        <a href="{% url 'listing_delete' listing.id %}">[Supprimer]</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'listing_create' %}">Créer un nvo listing</a>
{% endblock %}