
{% extends 'base.html' %}

{% block content %}

<h1>Suppression du listing :</h1>
<p>Etes-vous sûr de vouloir supprimer le listing : {{ listing.title }} ?</p>

<form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Envoyer">
</form>
<a href="{% url 'listing_list' %}">Retour à la liste des listing</a>
{% endblock %}