
{% extends 'base.html' %}

{% block content %}

<h1>Listing : {{ listing.title }}</h1>
<ul>
    <li>Description : {{listing.description }}</li>
    <li>Année : {{listing.year}}</li>
    <li>Vendu : {{listing.sold | yesno}}</li>
    {% if listing.band %}
    <li><a href="{% url 'band_detail' listing.band.id %}">{{ listing.band }}</a></li>
    {% endif %}
</ul>

<a href="{% url 'listing_update' listing.id %}">[Modifier]</a><br />
<a href="{% url 'listing_delete' listing.id %}">[Supprimer]</a><br />
<a href="{% url 'listing_list' %}">Retour à la liste des listing</a>
{% endblock %}