{% extends 'base.html' %}
{% block content %}
<h2>Télécharger plusieurs photos</h2>
<form method="post" enctype="multipart/form-data">
    {{ formset.as_p }}
    {% csrf_token %}
    <button type="submit" >Publier</button>
</form>
{% endblock content %}

