{% extends 'base.html' %}
{% block content %}
<h2>Suivre des utilisateurs</h2>
<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" >Confirmer</button>
</form>
{% endblock content %}