{% extends 'base.html' %}
{% block content %}
    <h2>{{ blog.title }} {% if blog.word_count %} ({{ blog.word_count}}){% endif %}</h2>
    <p><a href="{% url 'edit_blog' blog.id %}">Modifier le billet</a></p>
    <img src="{{ blog.photo.image.url }}" alt="blog.photo.caption">
    <p>{{ blog.photo.caption }}</p>
    <p>{{ blog.content }}</p>
{% endblock content %}
