{% load static %}

<html>
    <head>
        <title>Merchex</title>
        <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
    </head>
    <body>
        <p>
            <a href="{% url 'listing_list' %}">listings</a>
            <a href="{% url 'band_list' %}">bands</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'about' %}">A propos</a>
        </p>
        {% block content %}{% endblock %}
    </body>
</html>