{% load static %}
<html>
    <head>
        <title>FotoBlog</title>
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </head>
    <body>
        <div class="sidebar">
            <h1>FotoBlog</h1>
            {% if user.is_authenticated %}
                <p>Salut, {{ user }} !</p>
                {% if user.profile_photo %}
                    <img class="avatar" src={{ user.profile_photo.url }}>
                {% else %}
                    <img class="avatar" src="{% static 'images/default_profile.png'%}">
                {% endif %}
                <p><a href="{% url 'home' %}">Accueil</a></p>
                <p><a href="{% url 'photo_feed' %}">Flux de photos</a></p>
                {% if perms.blog.add_photo and perms.blog.add_blog %}
                    <p><a href="{% url 'blog_create' %}">Écrire un billet</a></p>
                {% endif %}
                {% if perms.blog.add_photo %}
                    <p><a href="{% url 'photo_upload' %}">Téléverser une photo</a></p>
                    <p><a href="{% url 'create_multiple_photos' %}">Téléverser plusieurs photos</a></p>
                {% endif %}
                <p><a href="{% url 'follow_users' %}">Suivre des utilisateurs</a></p>
                <p><a href="{% url 'upload_profile_photo' %}">Changer la photo de profil</a></p>
                <p><a href="{% url 'password_change' %}">Changer le mot de passe</a></p>
                <p><a href="{% url 'logout' %}">Se déconnecter</a></p>
            {% endif %}
        </div>
        <div class="main">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>

